---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: terria
  namespace: terria
  labels:
    app: terria
spec:
  replicas: 2
  selector:
    matchLabels:
      app: terria
  template:
    metadata:
      labels:
        app: terria
    spec:
      serviceAccountName: terria-sa
      containers:
        - name: terria
          image: 686410905891.dkr.ecr.ap-southeast-3.amazonaws.com/terriamap:v20260129-0612
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          env:
            - name: NODE_ENV
              value: "production"
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: terria-config
                  key: bucket-region
            - name: TERRIA_S3_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: terria-config
                  key: bucket-name
          resources:
            requests:
              cpu: "1.5"
              memory: 1.5Gi
            limits:
              cpu: "2"
              memory: 2Gi
          livenessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
