---
apiVersion: v1
kind: Service
metadata:
  name: terria
  namespace: terria
  labels:
    app: terria
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: terria
